<!-- 组合小车底盘与摄像头 -->
<robot name="my_car" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 惯性 -->
    <xacro:include filename="car_inertial.xacro" />
    <!-- 底盘、相机、雷达 -->
    <xacro:include filename="car_base.xacro" />
    <xacro:include filename="car_camera.xacro" />
    <xacro:include filename="car_laser.xacro" />
    <!-- 运动控制 -->
    <xacro:include filename="gazebo/move.xacro" />
    <!-- 雷达 -->
    <xacro:include filename="gazebo/laser.xacro" />
    <!-- 相机 -->
    <xacro:include filename="gazebo/camera.xacro" />
    <!-- 深度 -->
    <xacro:include filename="gazebo/kinetic.xacro" />
</robot>